@import './colores.module';
.btn{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
}

&.primary{
    background-color: $primary;
    color: $white;
}